---
layout: default
title: Fellowships
permalink: /fellowships/
color: '#a4b958'
---

 {% include hero-page.html %}

<div class="content-wrapper">
    <section id="programme" class="section-with-sidebar">
            <div class="text-container">
                 <div class="editable"><h2>Fellowships</h2><p>We will have a fellowship programme for people who wish to come along to NetHui but who for any reason may struggle on their own means.</p><p>Fellowships are being confirmed now and this page will be up and running soon.</p></div>
            </div>

    </section>

     {% include sidebar-news.html %}

</div>

 {% include social.html %}
 
 {% include sponsors-page.html %}