---
layout: default
title: Speakers and MC
permalink: /speakers/
color: '#a4b958'
modal: all
---

{% include hero-page.html %}

<section id="speakers" class="speakers">
    <div class="content-wrapper">
        <div class="text-container">
             <div class="editable"><p>Most of NetHui will be made up of breakout sessions that are designed by the community in the programme development. But on top of this we will also have a high profile keynote speaker for the opening ceremony and a great panel session for the plenary room.</p><p>Once our speakers have been confirmed, we will pop them up here for you all to check out!</p><h3>Our fabulous MC - Michele A&rsquo;Court</h3><p>We are so thrilled to announce we have secured the very funny and talented Michele A&rsquo;Court to be our MC. Michele has blessed us with her witty MC&rsquo;ing at a number of NetHuis and is always a huge hit with all attendees.</p><p><img alt="" src="/zeppelin/assets/images/versions/michele-acourt-image-for-use-in-promo---x----400-600x---.jpg" width="400" height="600" /></p></div>
        </div>
    </div>
</section>

 {% include sidebar-news.html %}
 
 {% include sponsors-page.html %}

