---
layout: default
title: Speakers and MC
permalink: /speakers/
color: '#a4b958'
modal: all
---

{% include hero-page.html %}

<div class="content-wrapper">
    <section id="speakers" class="section-no-sidebar">
            <div class="text-container">
                 <div class="editable"><h2>Speakers and MC</h2><p>Most of NetHui will be made up of breakout sessions that are designed by the community in the programme development. But on top of this we will also have a high profile keynote speaker for the opening ceremony and a great panel session for the plenary room.</p><p>Once our speakers have been confirmed, we will pop them up here for you all to check out!</p>
                 </div>
                <div class="row">
                     <div class="col-md-8 editable"><h4>Our fabulous MC - Michele A&rsquo;Court</h4><p>We are so thrilled to announce we have secured the very funny and talented Michele A&rsquo;Court to be our MC. Michele has blessed us with her witty MC&rsquo;ing at a number of NetHuis and is always a huge hit with all attendees.</p></div>
                     <div class="col-md-4 editable"><p><img alt="" src="/zeppelin/assets/images/versions/michele-acourt-cropped---x----251-399x---.jpg" width="251" height="399" /></p></div></div>
                 </div>
                 <div class="editable"><p>&nbsp;</p>
                 </div>
            </section></div>
    



 {% include social.html %}
 
 {% include sponsors-page.html %}

