---
layout: default
title: Community Supporters
permalink: /supporters/
color: '#a4b958'
---

 {% include hero-page.html %}

<div class="content-wrapper">

    <section id="sponsors" class="sponsors-whole-page section-with-sidebar supporters">

        <!-- Begin Sponsors Section -->
        <div class="sponsors-list test">
            <div class="text-container">
                <h2 class="editable">Community supporters</h2>
                <div class="editable"><p>We are very grateful to our community supporters below who help us promote NetHui and are general supporters of the event.</p><p>If you would like to be a community supporter and help us make NetHui 2017 the best yet, please contact megan@internetnz.net.nz.</p></div>
                {% for sponsors in site.data.sponsors %}
                <h5>{{ supporters.group }}</h5>
                <div class="sponsor-grid">
                    {% for element in supporters.elements %}
                    <div class="row">
                        <div class="col-sm-3 supporter-image">
                            <a href="{{ element.link }}" target="_blank">
                                <img src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}" />
                            </a>
                        </div>
                        <div class="col-sm-9 supporter-details">
                            <h4>
                                <a href="{{ element.link }}" target="_blank">{{ element.name }}</a>
                            </h4>
                            <p>{{ element.longDescription }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End Sponsors Section -->

    </section>

     {% include sidebar-news.html %}

 </div>

  {% include social.html %}

  {% include sponsors-page.html %}