<!-- Begin Hero Section -->
<section id="page-section-hero" class="page-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
        <div class="text-container">
            <div class="editable"><p><img alt="" width="500" height="254" src="/zeppelin/assets/images/versions/logo-header---x0-0-601-305-500-254x---.png" /></p></div>
        </div>
    </div>
</section>
<!-- End Hero Section -->