<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="text-container">
            <img class="editable" src="assets/images/nethui-logo.png" />
            <p class="editable hero-tagline">New Zealand’s favourite Internet gathering is returning. Our huge national NetHui is coming to Auckland in November. Be part of the conversations to help make a better Internet for a better New Zealand.</p>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->