<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="text-container">
            <div class="editable hero-tagline"><p><img alt="" src="/zeppelin/assets/images/versions/logo-header---x----601-306x---.png" width="601" height="306" /></p><p>New Zealand&rsquo;s favourite Internet gathering is returning. Our huge national NetHui is coming to Auckland in November. Be part of the conversations to help make a better Internet for a better New Zealand.</p></div>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewbox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down" />
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->