<!-- Where and when Section -->
<section id="where-when" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 class="editable">NetHui 2017 will be held on 9-10 November at Auckland's Aotea Centre.</h2>
            <div class="row where-when-details">
                <p class="editable">We will also be holding a NZ Internet Research Forum meeting the day before on 8 November and we are consulting the public to find out if people are keen to run other events on this day, and around these dates. So watch this space.</p>
                <p><a href="/venue" class="btn btn-primary editable" role="button">Venue Info</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->