<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <svg id="menu-trigger" class="menu-trigger icon icon-menu visible-xs" viewBox="0 0 32 32">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
        <img src="{{ site.baseurl }}/assets/images/birds-home.png" />
    </a>
    <a href="https://internetnz.nz//" id="internetnz-header" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/broughtbyinternetnz.png" />
    </a>

    {% include menu.html %}

    <div id="header-social">
        <a class="twitter" href="https://twitter.com/NetHuiNZ" alt="NetHui Twitter" target='_blank'><img src="{{ site.baseurl }}/assets/images/twitter.svg" width="30px" height="26.5px" /></a>
        <a class="facebook" href="https://www.facebook.com/NetHuiNZ" alt="NetHui Facebook" target='_blank'><img src="{{ site.baseurl }}/assets/images/facebook.svg" width="19px" height="35px" /></a>
    </div>
</header>