<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <svg id="menu-trigger" class="menu-trigger icon icon-menu visible-xs" viewBox="0 0 32 32">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
        <img src="{{ site.baseurl }}/assets/images/birds1.png" />
    </a>
    <a href="https://internetnz.nz//" id="internetnz-header">
        <img src="{{ site.baseurl }}/assets/images/broughtbyinternetnz.png" />
    </a>
    <nav class="st-menu st-effect" id="menu">
        <div class="logo-navbar logo logo-dark visible-xs"></div>
        <ul>
            {% for navigationLink in site.navigationLinks %}
            <li>
                <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="header-social">
        <a class="twitter" href="https://twitter.com/NetHuiNZ" alt="NetHui Twitter"><img src="{{ site.baseurl }}/assets/images/twitter.svg" width="30px" height="26.5px" /></a>
        <a class="facebook" href="https://www.facebook.com/NetHuiNZ" alt="NetHui Facebook"><img src="{{ site.baseurl }}/assets/images/facebook.svg" width="19px" height="35px" /></a>
    </div>
</header>