<!-- Begin Sidebar News Section -->
<aside class="sidebar-news">
    <h4>NetHui News</h4>
    <h6>RECENT POSTS</h6>
    <ul>
        {% for post in site.posts limit:10 %}	
        <li class="post-link"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="editable">	
        <h4>Get NetHui Updates</h4>
        <p>If you want to receive updates about NetHui you can <a href="https://internetnz.nz/subscribe-our-monthly-newsletter-dotnews" target="_blank">subscribe</a> to InternetNZ’s monthly newsletter dotNews.</p>
    </div>
</aside>
<!-- End Latest News Section -->