<section id="social" class="social-media">
    <div class-"content-wrapper">
        <div class="col-lg-10 col-lg-offset-1"> 
            <h3 class="editable">Keep up with NetHui 2017</h3> 
            <article class="row"> 
                <div class="col-md-6"><a class="twitter-timeline" href="https://twitter.com/NetHuiNZ">Tweets by NetHuiNZ</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div> 
                <div class="col-md-6"> </div> 
            </article> 
        </div>
    </div>
</section>


