<!-- Begin Sponsors Section -->
<section id="sponsors" class="partners">
    <div class="content-wrapper">
        <div class="text-container">
            <div class="editable"><h3>Sponsors &amp; Community Supporters</h3><p>NetHui wouldn&rsquo;t be possible without the generous support of a large number of community partners. If you would like to be a community support organisation and help us make NetHui 2017 the best yet please contact nethui@internetnz.net.nz.</p><p>If you would like to sponsor NetHui 2017 please take a look at our&nbsp;<a href="/zeppelin/assets/NetHui_sponsorship_prospectus_2017.pdf">sponsorship prospectus</a>, or contact us at nethui@internetnz.net.nz.</p></div>
        </div>
    </div> 
</section>
<!-- End Sponsors Section -->

