.btn {
    font-weight: $bold;
    transition: $base-cubic-transition;
    font-size: 22px;
    padding: 6px 20px;
}
.btn-primary {
    color: #fff !important;
    user-select: none;
    text-transform: uppercase;
    border: 0;
    background: $nethui-sky-blue !important;
    font-family: $headings-font-family;
    &:hover, &:focus, &:active, &.active {
        outline: none;
        color: #fff;
        background: $primary-color-hover;
    }
}
