$footer-background-color: #232323;
$footer-links-color: $nethui-sky-blue;

.footer {
    background: $footer-background-color url(../assets/images/bg-footer.png);
    margin-top: 100px;
    position: relative;
    // @media (max-width: 767px) {
    //     padding: 26px 20px 13px;
    // }
    .row {
        padding: 20px 52px 20px;
    }
    .editable {
        color: white;
        h1, h2, h3, h4, h5 {
            color: white;
        }
    }
    h5 {
        font-size: 18px;
    }
    ul {
        margin-top: 13px;
        padding: 0;
    }
    li {
        margin-bottom: 9px;
        list-style-type: none;
        &:before {
            content: ">";
            color: white;
            padding-right: 10px;
            font-size: 10px;
            position: relative;
            top: -2px;
        }
    }
    a {
        color: $footer-links-color;
        &:hover {
            text-decoration: underline;
        }
    }
    .social-links {
        margin-bottom: 0;
    }
    .copyright {
        font-size: 13px;
        line-height: 1.3;
        margin-top: 10px;
    }
    &:before {
        content: "";
        background: $footer-background-color url(../assets/images/bg-footer.png);
        width: 100%;
        height: 100px;
        display: block;
        transform: skewY(-4deg);
        position: absolute;
        top: -50px;
    }
}
.logo-footer {
    width: 185px;
    height: 60px;
    margin: -13px -13px 0;
    transform: scale(.65);
}

.footer-copyright {
    background: black;
    color: white;
    margin: 0px;
}