// NetHui specific styles

#top-section-hero,
#page-section-hero {
    max-width: 100%;
    text-align: center;
    padding: 0px;
    background-position: right center;
}

#top-section-hero {  
    .content-wrapper {
        max-width: 100%;
        margin: auto;
        padding: 0px;
        height: 100%;
        clear: none;
        overflow: hidden;
    }
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
    clear: both;
    height: auto;
}

.section-with-sidebar {
    width: 100%;
    padding: 0px;
    overflow: auto;
    position: static;
    min-height: auto;
    padding-bottom: 80px;
    @media (min-width: 767px) {
        width: 75%;
        float: left;
        padding-right: 40px;
    }
}

.section-no-sidebar {
    padding: 0px;
    overflow: auto;
    position: static;
    min-height: auto;
    padding-bottom: 80px;
}

aside.sidebar-news {
    width: 100%;
    @media (min-width: 767px) {
        width: 25%;
        float: left;
        padding-left: 10px;
    }
    h4 {
        font-family: $fixed-font-family;
        text-align: center;
        border: 2px solid $nethui-teal;
        margin: 20px 0 1em 0;
        padding: 10px;
        color: $nethui-teal;
    }
    h6 {
        padding-bottom: 20px;
    }
}

.text-container {
    h2:nth-child(1) {
        margin-top: 10px;
    }
    h2 {
        border-bottom: 2px solid;
        text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
    }
    h3 {
        margin: 1em 0;
    }
    .row > div:first-child {
        padding-left: 0px;
    }
}

.row {
    margin: 0px;
}

// Custom margins - no stupid 0 margins!
h1, .h1 {
    margin: 0.67em 0;
}
h2, .h2 {
    margin: 0.83em 0;
}
h3, .h3 {
    margin: 1em 0;
}

h4, h5 {
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    background-image: url(../assets/images/birds1.png);
    background-repeat: no-repeat;
}