---
layout: default
---

 {% include hero-page.html %}

<div class="content-wrapper">
    <section id="post" class="section-with-sidebar">
        <div class="text-container">
            <h2>{{ page.title }}</h2>
            <div class="post-header">
                <div class="published col-md-6 col-xs-6 pull-left">
                    <span class="caption">Posted:</span>
                    <span class="publish-date" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</span>
                </div>
            </div>
            <div class="post-body">{{ content }}</div> 
        </div>
    </section>

     {% include sidebar-news.html %}

 </div>

 {% include social.html %}
 
 {% include sponsors-page.html %}